asgiref==3.11.1
Django==5.2
django-cors-headers==4.9.0
django-filter==25.2
#django-utils-six==2.0
djangorestframework==3.16.1
drf-flex-fields==1.0.2
#pytz==2021.1 # for timezone calculations; in the standard library since Python 3.9
sqlparse==0.5.5
typing-extensions==4.15.0
openiti==0.1.6
regex
convertdate==2.4.1